<form action="{{ url_for('predict')}}" method="POST" class="appointment-form" id="appointment-form" style="padding-top: 0px;padding-bottom: 15px;">                
                <h5 align="center" style="color: #2c437f;">Manual Entry Form</h5>
                <br>
                <div class="form-row">
                    <div class="col-lg-4" style="padding: 15px 15px 15px 15px;">
                        <input type="text" name="user_name" id="user_name" placeholder="Username" required />
                    </div>
                    <div class="select-list col-lg-4" style="padding: 15px 15px 15px 15px;">
                        <select name="location" id="location" style="background-color: #fff;color: #7d7581;">
                            <option selcted value="" >Location</option>
                            <option value="other">Others</option>
                        </select>
                    </div>
                    <div class="select-list col-lg-4" style="padding: 15px 15px 15px 15px;">
                        <select name="language" id="language" style="background-color: #fff;color: #7d7581;">
                            <option selcted value="" >Language</option>
                            <option value="hi">Hindi</option>
                            <option value="en">English</option>
                            <option value="it">Italian</option>
                            <option value="es">Spanish</option>
                            <option value="fr">French</option>
                            <option value="de">German</option>
                            <option value="tr">Turkish</option>
                            <option value="nl">Dutch</option>
                            <option value="gl">Galician</option>
                            <option value="other">Others</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col" style="padding: 15px 15px 15px 15px;">
                      <input type="number" name="friends_count" id="friends_count" placeholder="Friends Count" required />
                    </div>
                    <div class="col" style="padding: 15px 15px 15px 15px;">
                      <input type="number" name="followers_count" id="followers_count" placeholder="Followers Count" required />
                    </div>
                    <div class="col" style="padding: 15px 15px 15px 15px;">
                      <input type="number" name="statuses_count" id="statuses_count" placeholder="Statuses Count" required />
                    </div>
                    <div class="col" style="padding: 15px 15px 15px 15px;">
                      <input type="number" name="favourites_count" id="favourites_count" placeholder="Favourites Count" required />
                    </div>
                    <div class="col" style="padding: 15px 15px 15px 15px;">
                      <input type="text" name="date" id="date" placeholder="Created_at" class="textbox-n"  onfocus="(this.type='date')" >
                    </div>
                </div>   
                <textarea style="padding: 15px 15px 15px 15px;" type="text" name="about" id="about" rows="2" placeholder="About / Bio"></textarea> 
                <br> 
                <div class="form-submit">
                    <center><button type="submit" name="submit" id="submit" class="submit">Submit Data</button></center>
                </div>
            </form>